{{template "header" .}}
{{template "nav" .}}

<h2>Packs</h2>

{{ range .Packs }}

  <h3>
    <a href="{{$.Domain}}/packs/{{.Name}}{{$.Extension}}">
      {{.Name}}
    </a>
  </h3>

    {{ if .Players }}
      <h4>Players:</h4>
    {{ end }}

    {{ range .Players }}
      <a href="{{$.Domain}}/users/{{.}}{{$.Extension}}">
        {{.}}
      </a>
    {{ end }}

    {{ if .Commands }}
      <h4>Commands:</h4>
    {{ end }}

    {{ range .Commands }}
      <a href="{{$.Domain}}/commands/{{.}}{{$.Extension}}">
        {{ . }}
      </a>
      <br />
    {{ end }}

<br />
<hr />
{{ end }}
