<!DOCTYPE html> 
<head>
	<title>BeginWorld</title>

	<!-- Necessary for utf-8 encoding -->
	<meta charset="utf-8" />

  <!-- <link rel="stylesheet" type="text/css" href="https://mygeoangelfirespace.city/styles/style.css"> -->
  <!-- <meta charset="utf-8" http-equiv="refresh" content="1" /> -->
  <style>
    body {
      color: white;
      font-weight: bold;
      background-color: black;
      font-size: 1.3em;
      font-family: monospace;
    }

    h1 {
      color: #fff;
    }

		ul {
			list-style: none;
			grid-gap: 16px;
			padding: 0;
		}

		li {
			padding: 16px;
			display: inline-block;
		}

  </style>

	<script>
	window.onload = () => {
		const randomColor = () => {
			return Math.random() * 360 
		}

		const setColor = (element) => element.style.color = `hsl(${randomColor()}, 100%, 80%)`

		document.querySelectorAll('li').forEach(setColor)
	}
	</script>
</head>

{{template "nav" .}}
<body class="Parties">
  <h1>Parties</h1>

  <p>
  Parties are for coordinating efforts Beginworld among various individuals.
  Parties should approved once they have a "legislation", that can be automated.

  Example:

  A New Party is formed with the Manifesto: "The sound arbysboys is a universal right!"

  A PR should be opened that implement this functionality.

  <b>Open Questions:<b>

  - How do we allow a "law" to be passed?
  - Or do we have a single party in charge, and all their laws are in effect?

  </p>

  <ul>
    {{ range .Parties }}

      <li>
        <b>Party Name:</b> {{.Name}}
        <br />
        <b>Manifesto:</b> {{.Manifesto}}
        <br />
        <b>Members: {{ len .Members }}</b>
        <br />
        <ul>
        {{ range .Members }}
        <li>
          <a href="{{$.Domain}}/users/{{.}}{{$.Extension}}">
            {{.}} 
          </a> 
        </li>
        {{ end }}
        </ul>
      </li>
      <br />


    {{ end }}
  </ul>

  <hr />

  <div>

    To Join or leave a Party (Note: You can only belong to 1 Party at a time)
    in beginbot chat:
    <pre>
      !joinparty PartyName

      !leaveparty
    </pre>
  </div>

</body>
