{{template "header" .}}

<!-- <link rel="stylesheet" type="text/css" href="https://mygeoangelfirespace.city/styles/{{.Name}}.css"> -->
<link rel="stylesheet" type="text/css" href="https://beginworld.website-us-east-1.linodeobjects.com/assets/{{.Name}}.css">

{{template "nav" .}}

<h2>{{ .Name }}</h2>
<h2>Cool Points {{ .CoolPoints }}</h2>
<h2>Street Cred: {{ .StreetCred }}</h2>
<h2>Command Count: {{ .CommandCount }}</h2>

<hr />

<h2>Lovers</h2>

<ul>
  {{ range .Lovers }}
    <li>
      <a href="{{$.Domain}}/users/{{ .Name }}{{$.Extension}}">{{ .Name }}</a>
    </li>
  {{ end }}
</ul>

<hr />

  {{ range .Commands }}

    <figure style="float:left;">
        <figcaption>
        <a href="{{$.Domain}}/commands/{{ .Name }}{{$.Extension}}">{{ .Name }}</a>
        - <b>Cost:</b> {{ .Cost }}
        </figcaption>
        <audio controls preload="none">
          <source src="https://beginworld.us-east-1.linodeobjects.com/media/{{ .Filename }}">
          Your browser does not support the audio element.
        </audio>
    </figure>

      <!-- <a href="https://mygeoangelfirespace.city/{{ . }}.html"> {{ . }}</a> -->
  {{ end }}
