body {
  /* background-color: none..class{ */
  background:rgba(0,0,0,0.7);
  background: #fdf6e3;
  color: black;
  font-size: 2em;
  font-family: "Courier", monospace;
  width: 800px;
  margin: 0 auto;
}

a {
	text-decoration: none;
}

hr {
	color: black;
	border: none;
}

hr::before {
	content: ";============================== ";
}

h1 {
	text-align: left;
	font-size: 2rem;
}

h1::before {
	content: ";------- ";
}

h1::after {
	content: " -------";
}

h2 {
	margin: 0;
	font-weight: normal;
	font-size: 2rem;
}

h2::before {
	content: "DB '";
}

h2::after {
	content: "', 0";
}

nav {
	flex-direction: row;
}

nav::before {
	display: block;
	content: "ORG 0000h";
}

nav a {
	text-transform: uppercase;
}

nav a::before {
	content: "lcall ";
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
}

ul a::before {
	content: "DB '";
}

ul a::after {
	content: "', 0";
}

.flex-right {
	display: none;
}

p {
}

figure {
	margin: 0rem;
	clear: left;
	display: block;
}

figure figcaption {
	color: #fdf6e3;
	float: left;
	width: 25rem;
	overflow: hidden;
	margin-right: 2rem;
	font-size: 0.1rem;
}

figure figcaption::after {
	color: black;
	content: "DB";
	float: right;
	font-size: 2rem;
	margin-left: 2rem;
}

figure figcaption a {
	text-transform: uppercase;
	font-size: 2rem;
}

figure figcaption a::after {
	content: ":";
}

figure audio {
	display: inline;
	float: left;
}
