<!DOCTYPE html>
<html lang="en">
<head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58643-34"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', "UA-58643-34");
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>begincss - Pastebin.com</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="description" content="Pastebin.com is the number one paste tool since 2002. Pastebin is a website where you can store text online for a set period of time." />
    <meta property="og:description" content="Pastebin.com is the number one paste tool since 2002. Pastebin is a website where you can store text online for a set period of time." />
            <meta property="fb:app_id" content="231493360234820" />
    <meta property="og:title" content="begincss - Pastebin.com" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://pastebin.com/Ct2BfN0k" />
    <meta property="og:image" content="https://pastebin.com/i/facebook.png" />
    <meta property="og:site_name" content="Pastebin" />
    <meta name="google-site-verification" content="jkUAIOE8owUXu8UXIhRLB9oHJsWBfOgJbZzncqHoF4A" />
    <link rel="canonical" href="https://pastebin.com/Ct2BfN0k" />
    <meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=1.0, user-scalable=yes">
        <meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="8YOraAxBlebW50fIGXqA9NxpykYxe_hFpZV8f2ETVpOp1t4rZTSmiZveKqxoCM2uiD76MGc8ty_U5hcpEVAZ1g==">

<link href="/assets/c80611c4/css/bootstrap.min.css" rel="stylesheet">        
<link href="/themes/pastebin/css/vendors.bundle.css?0b12af05872f846600ac" rel="stylesheet">
<link href="/themes/pastebin/css/app.bundle.css?0b12af05872f846600ac" rel="stylesheet">
    
<!-- 1-7L1jsUhq -->
﻿<script>
var datalayer= {
z_cltr: '%%CLICK_URL_UNESC%%',
z_imtr: '%%VIEW_URL_UNESC%%'
}
</script>
<div id="zbf8e95d3-c7c2-4b2e-8ead-ef78ee01f949" style='display:none' ></div>
<script>!function(a,n,e,t,r){tagsync=e;var c=window[a];if(tagsync){var d=document.createElement("script");d.src="https://3933.tm.zedo.com/v1/3bb8ab82-c828-44f4-996d-e2a88f013315/atm.js",d.async=!0;var i=document.getElementById(n);if(null==i||"undefined"==i)return;i.parentNode.appendChild(d,i),d.onload=d.onreadystatechange=function(){var a=new zTagManager(n);a.initTagManager(n,c,this.aync,t,r)}}else document.write("<script src='https://3933.tm.zedo.com/v1/3bb8ab82-c828-44f4-996d-e2a88f013315/tm.js?data="+a+"'><"+"/script>")}("datalayer","zbf8e95d3-c7c2-4b2e-8ead-ef78ee01f949",true, 1 , 1);</script>

<!-- 0-BkcCRRAK -->
<script type="text/javascript">
	(function(){
		var bsa_optimize=document.createElement('script');
		bsa_optimize.type='text/javascript';
		bsa_optimize.async=true;
		bsa_optimize.src='https://cdn4.buysellads.net/pub/pastebin.js?'+(new Date()-new Date()%600000);
		(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa_optimize);
	})();
</script>
</head>
<body class="night-auto " data-partner="BkcCRRAK">



<div class="wrap">

        
        
<div class="header">
    <div class="container">
        <div class="header__container">

                        <div class="header__left">
                <a class="header__logo" href="/">
                    Pastebin                </a>

                <div class="header__links h_1024">
                    
                    <a href="/doc_api">API</a>
                    <a href="/tools">tools</a>
                    <a href="/faq">faq</a>
                                    </div>

                
                <a class="header__btn" href="/">
                    paste                </a>
            </div>

                        <div class="header__right">

                                    <div class="header_sign">
                        <a href="/login" class="btn-sign sign-in">Login</a>
                        <a href="/signup" class="btn-sign sign-up">Sign up</a>
                    </div>
                
            </div>

        </div>
    </div>

</div>
        

    <div class="container">
        <div class="content">

                        
<!-- 1-7L1jsUhq -->


<!-- 0-BkcCRRAK -->
<!-- Pastebin_S2S_Leaderboard_ROS_Top_ATF -->
<div id="bsa-zone_1562798196755-3_123456"></div>

                                    
            
            
<link href="/themes/pastebin/css/geshi/light/css.css?694707f98000ed24d865" rel="stylesheet">

<div class="post-view">

    
    <div class="details">
                    <div class="share h_800">
                <div data-url="https://pastebin.com/Ct2BfN0k" class="share-btn facebook js-facebook-share" title="Share on Facebook!"><span>SHARE</span></div>
                <div data-url="https://pastebin.com/Ct2BfN0k" class="share-btn twitter js-twitter-share" title="Share on Twitter!"><span>TWEET</span></div>
            </div>
                <div class="user-icon">
                            <img src="/themes/pastebin/img/guest.png" alt="Guest User">                    </div>
        <div class="info-bar">
            <div class="info-top">

                
                
                <h1>begincss</h1>
            </div>
            <div class="info-bottom">

                                    <div class="username">
                        a guest                    </div>
                
                <div class="date">
                    <span title="Thursday 14th of January 2021 10:16:48 AM CDT">Jan 14th, 2021</span>

                                    </div>

                <div class="visits" title="Unique visits to this paste">
                    2                </div>

                <div class="expire" title="When this paste gets automatically deleted">
                    Never                </div>
            </div>
        </div>
    </div>

                        <div class="page">
                <div class="content__text -no-padding">
                    <div class="notice -post-view">
                        <b>Not a member of Pastebin yet?</b>
                        <a href="/signup"><b><u>Sign Up</u></b></a>,
                        it unlocks many cool features!                    </div>
                </div>
            </div>
        
    
    <div class="highlighted-code">
        <div class="top-buttons">
            <div class="left">
                <a href="/archive/css" class="btn -small h_800">CSS</a> 0.15 KB            </div>

            <div class="right">
                                    <a href="/raw/Ct2BfN0k" class="btn -small">raw</a>
                    <a href="/dl/Ct2BfN0k" class="btn -small">download</a>
                    <a href="/clone/Ct2BfN0k" class="btn -small h_800">clone</a>
                    <a href="/embed/Ct2BfN0k" class="btn -small h_800">embed</a>
                    <a href="/print/Ct2BfN0k" class="btn -small h_800">print</a>
                
                                    <a href="/report/Ct2BfN0k" class="btn -small">report</a>
                
                
                            </div>
        </div>
        <div class="source" style=" ">
            <ol class="css"><li class="li1"><div class="de1">body <span class="br0">&#123;</span></div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; <span class="kw1">background</span><span class="sy0">:</span> <span class="kw4">black</span><span class="sy0">;</span></div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; <span class="kw1">color</span><span class="sy0">:</span> <span class="kw4">green</span><span class="sy0">;</span></div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; h2 <span class="br0">&#123;</span></div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; <span class="kw1">text-align</span><span class="sy0">:</span> <span class="kw2">center</span><span class="sy0">;</span></div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; <span class="br0">&#125;</span></div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; h2<span class="sy0">:</span><span class="kw5">nth-child</span><span class="br0">&#40;</span><span class="nu0">1</span><span class="br0">&#41;</span> <span class="br0">&#123;</span></div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; <span class="kw1">font-size</span><span class="sy0">:</span> <span class="re3">2em</span><span class="sy0">;</span></div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; <span class="br0">&#125;</span></div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; a <span class="br0">&#123;</span></div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; <span class="kw1">color</span><span class="sy0">:</span> <span class="kw4">white</span><span class="sy0">;</span></div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; <span class="br0">&#125;</span></div></li>
<li class="li1"><div class="de1"><span class="br0">&#125;</span></div></li>
</ol>        </div>
    </div>

            <div class="content__title -no-border">
            RAW Paste Data        </div>

        <textarea class="textarea">body {
	background: black;
	color: green;
	h2 {
		text-align: center;
	}
	h2:nth-child(1) {
		font-size: 2em;
	}
	a {
		color: white;
	}
}</textarea>
    
        
<!-- 1-7L1jsUhq -->


<!-- 0-BkcCRRAK -->


</div>            <div style="clear: both;"></div>

                        
<!-- 1-7L1jsUhq -->


<!-- 0-BkcCRRAK -->

        </div>

        <div class="sidebar h_1024">
            


                
    <div class="sidebar__title">
        <a href="/archive">Public Pastes</a>
    </div>
    <ul class="sidebar__menu">

                    <li>
                <a href="/t21tEjy1">half.cpp</a>
                <div class="details">
                                            C++ |
                    
                    35 sec ago                </div>
            </li>
                    <li>
                <a href="/p9TkGHF3">Expresie</a>
                <div class="details">
                                            C++ |
                    
                    6 min ago                </div>
            </li>
                    <li>
                <a href="/46fdugHC">Untitled</a>
                <div class="details">
                                            C++ |
                    
                    29 min ago                </div>
            </li>
                    <li>
                <a href="/uUMZus55">EMF File Drawing</a>
                <div class="details">
                                            C# |
                    
                    32 min ago                </div>
            </li>
                    <li>
                <a href="/XG0QcTU2">Untitled</a>
                <div class="details">
                                            Java |
                    
                    37 min ago                </div>
            </li>
                    <li>
                <a href="/LNVk831n">[WordPress] add se...</a>
                <div class="details">
                                            PHP |
                    
                    57 min ago                </div>
            </li>
                    <li>
                <a href="/Ymwa9A1r">Untitled</a>
                <div class="details">
                                            jQuery |
                    
                    1 hour ago                </div>
            </li>
                    <li>
                <a href="/XXDpLsHi">123</a>
                <div class="details">
                                            C# |
                    
                    1 hour ago                </div>
            </li>
        
    </ul>
            


                        
<!-- 1-7L1jsUhq -->


<!-- 0-BkcCRRAK -->
<!-- Pastebin_S2S_Sidebar_ROS_Pos1 -->
<div id="bsa-zone_1563314482562-4_123456"></div>
        </div>
    </div>
</div>


    
<div class="top-footer">
    <a class="icon-link -size-24-24 -chrome" href="/tools#chrome" title="Google Chrome Extension"></a>
    <a class="icon-link -size-24-24 -firefox" href="/tools#firefox" title="Firefox Extension"></a>
    <a class="icon-link -size-24-24 -iphone" href="/tools#iphone" title="iPhone/iPad Application"></a>
    <a class="icon-link -size-24-24 -windows" href="/tools#windows" title="Windows Desktop Application"></a>
    <a class="icon-link -size-24-24 -android" href="/tools#android" title="Android Application"></a>
    <a class="icon-link -size-24-24 -macos" href="/tools#macos" title="MacOS X Widget"></a>
    <a class="icon-link -size-24-24 -opera" href="/tools#opera" title="Opera Extension"></a>
    <a class="icon-link -size-24-24 -unix" href="/tools#pastebincl" title="Linux Application"></a>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer__container">

            <div class="footer__left">
                <a href="/">create new paste</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                                <a href="/languages">syntax languages</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/archive">archive</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/faq">faq</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/tools">tools</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/night_mode">night mode</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_api">api</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_scraping_api">scraping api</a>
                                    &nbsp;<span class="footer__devider">&nbsp;/&nbsp;</span>
                    <a href="/pro" class="pro">pro</a>
                
                <br>
                <a href="/doc_privacy_statement">privacy statement</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_cookies_policy">cookies policy</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_terms_of_service">terms of service</a><sup style="color:#999">updated</sup> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_security_disclosure">security disclosure</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/dmca">dmca</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/report-abuse">report abuse</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/contact">contact</a>

                <br>

                                
<!-- 1-7L1jsUhq -->


<!-- 0-BkcCRRAK -->


                <br>

                
<span class="footer__bottom h_800">
    By using Pastebin.com you agree to our <a href="/doc_cookies_policy">cookies policy</a> to enhance your experience.
    <br>
    Site design &amp; logo &copy; 2021 Pastebin</span>
            </div>

            <div class="footer__right h_1024">
                                    <a class="icon-link -size-40-40 -facebook-circle" href="https://facebook.com/pastebin" rel="nofollow" title="Like us on Facebook" target="_blank"></a>
                    <a class="icon-link -size-40-40 -twitter-circle" href="https://twitter.com/pastebin" rel="nofollow" title="Follow us on Twitter" target="_blank"></a>
                            </div>

        </div>
    </div>
</footer>
    


    
<div class="popup-container">

                <div class="popup-box -cookies" data-name="l2c_1">
            We use cookies for various purposes including analytics. By continuing to use Pastebin, you agree to our use of cookies as described in the <a href="/doc_cookies_policy">Cookies Policy</a>.            &nbsp;<span class="cookie-button js-close-cookies">OK, I Understand</span>
        </div>
    
                <div class="popup-box -pro" data-name="l2c_2_pg">
            <div class="pro-promo-img">
                <a href="/signup">
                    <img src="/themes/pastebin/img/hello.png" alt=""/>
                </a>
            </div>
            <div class="pro-promo-text">
                Not a member of Pastebin yet?<br/>
                <a href="/signup"><b>Sign Up</b></a>, it unlocks many cool features!            </div>
            <div class="close js-close-pro-guest" title="Close Me">&nbsp;</div>
        </div>
    
    
    
</div>
    

<span class="cd-top"></span>

<script src="/assets/9ce1885/jquery.min.js"></script>
<script src="/assets/f04f76b8/yii.js"></script>
<script>
    const POST_EXPIRATION_NEVER = 'N';
    const POST_EXPIRATION_BURN = 'B';
    const POST_STATUS_PUBLIC = '0';
    const POST_STATUS_UNLISTED = '1';
</script>
<script src="/themes/pastebin/js/vendors.bundle.js?0b12af05872f846600ac"></script>
<script src="/themes/pastebin/js/app.bundle.js?0b12af05872f846600ac"></script>


<!-- 1-7L1jsUhq -->


<!-- 0-BkcCRRAK -->

</body>
</html>
