<!DOCTYPE html>
<html lang="en">
<head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58643-34"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', "UA-58643-34");
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>h2 {  background-color: black;}body {  background-color: green;  opa - Pastebin.com</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="description" content="Pastebin.com is the number one paste tool since 2002. Pastebin is a website where you can store text online for a set period of time." />
    <meta property="og:description" content="Pastebin.com is the number one paste tool since 2002. Pastebin is a website where you can store text online for a set period of time." />
            <meta property="fb:app_id" content="231493360234820" />
    <meta property="og:title" content="h2 {  background-color: black;}body {  background-color: green;  opa - Pastebin.com" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://pastebin.com/Xu7y819j" />
    <meta property="og:image" content="https://pastebin.com/i/facebook.png" />
    <meta property="og:site_name" content="Pastebin" />
    <meta name="google-site-verification" content="jkUAIOE8owUXu8UXIhRLB9oHJsWBfOgJbZzncqHoF4A" />
    <link rel="canonical" href="https://pastebin.com/Xu7y819j" />
    <meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=1.0, user-scalable=yes">
        <meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="A1mZdiLzbjmXEk6dBgo7xtFXQNX1H9tFEifmSgpDCUlPE9g7eoIFDKd1eNBke0jxiGEfiowogR12XqAHYHF-eA==">

<link href="/assets/c093bd59/css/bootstrap.min.css" rel="stylesheet">        
<link href="/themes/pastebin/css/vendors.bundle.css?fd97d1a14d3e5eb8409d" rel="stylesheet">
<link href="/themes/pastebin/css/app.bundle.css?fd97d1a14d3e5eb8409d" rel="stylesheet">
    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script> var googletag = googletag || {}; googletag.cmd = googletag.cmd || []; </script>
<script> var snhb = snhb || {}; snhb.queue = snhb.queue || []; </script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).pauseAdRequests=1;</script>

<script src="//cdn.snigelweb.com/adconsent/adconsent.js" type="text/javascript"></script>

<script>
  window.__tcfapi('setLogo', null, function(result){}, '//pastebin.com/themes/pastebin/img/pastebin_logo_side_outline.png');
  window.__tcfapi  ('setPrivacyPolicy', null, function(result){}, '//pastebin.com/doc_privacy_statement');
  window.__tcfapi('enableBannerMode', null, function(result){}, true)
</script>

<style>
    #snigel-cmp-framework .sn-b-def.sn-blue {color: #ffffff!important;background-color: #3440ca!important;border-color: #3440ca!important;}
    #snigel-cmp-framework .sn-b-def { border-color: #3440ca!important;color: #3440ca!important;}
    #snigel-cmp-framework .sn-selector ul li { color: #3440ca!important}
    #snigel-cmp-framework .sn-selector ul li:after { background-color: #3440ca!important; } #snigel-cmp-framework .sn-footer-tab .sn-privacy a {color:#3440ca!important;}
    #snigel-cmp-framework .sn-arrow:after, #snigel-cmp-framework .sn-arrow:before { background-color: #3440ca!important; }
    #snigel-cmp-framework .sn-switch input:checked+span::before { background-color: #3440ca!important; }
    #adconsent-usp-link {border: 1px solid #3440ca!important;color: #3440ca!important;}#adconsent-usp-banner-optout input:checked+.adconsent-usp-slider {background-color:#3440ca!important;}#adconsent-usp-banner-btn {color:#ffffff;border: solid 1px #3440ca!important;background-color: #3440ca!important;}
    .snigel-cmp-framework .sn-header-tab { padding: 10px !important; } #snigel-cmp-framework #sn-back img { height: 60px; width: 60px; } .snigel-cmp-framework.sn-bm .sn-tabs { height: auto !important; }
</style>

<script async type="text/javascript" src="//cdn.snigelweb.com/pub/pastebin.com/20200826/snhb-pastebin.com.min.js"></script>
<?php //Check is adblock active ?>
<script src="//snigelweb-com.videoplayerhub.com/videoloader.js" async></script></head>
<body class="" data-partner="Snigel">



<div class="wrap">

        
        
<div class="header">
    <div class="container">
        <div class="header__container">

                        <div class="header__left">
                <a class="header__logo" href="/">
                    Pastebin                </a>

                <div class="header__links h_1024">
                                            <a href="/pro" class="pro">GO</a>
                    
                    <a href="/doc_api">API</a>
                    <a href="/tools">tools</a>
                    <a href="/faq">faq</a>
                                    </div>

                
                <a class="header__btn" href="/">
                    paste                </a>
            </div>

                        <div class="header__right">

                                    <div class="header_sign">
                        <a href="/login" class="btn-sign sign-in">Sign in</a>
                        <a href="/signup" class="btn-sign sign-up">Sign up</a>
                    </div>
                
            </div>

        </div>
    </div>

</div>
        

    <div class="container">
        <div class="content">

                        <div class="special__header">
    <div id='snhb-pastebin_headerleader-0'></div>
</div>
                                    
            
            
<link href="/themes/pastebin/css/geshi/light/text.css?1596735063" rel="stylesheet">

<div class="post-view">

    
    <div class="details">
                    <div class="share h_800">
                <div data-url="https://pastebin.com/Xu7y819j" class="share-btn facebook js-facebook-share" title="Share on Facebook!"><span>SHARE</span></div>
                <div data-url="https://pastebin.com/Xu7y819j" class="share-btn twitter js-twitter-share" title="Share on Twitter!"><span>TWEET</span></div>
            </div>
                <div class="user-icon">
                            <img src="/themes/pastebin/img/guest.png" alt="Guest User">                    </div>
        <div class="info-bar">
            <div class="info-top">

                
                
                <h1>Untitled</h1>
            </div>
            <div class="info-bottom">

                                    <div class="username">
                        a guest                    </div>
                
                <div class="date">
                    <span title="Wednesday 9th of December 2020 11:10:22 AM CDT">Dec 9th, 2020</span>

                                    </div>

                <div class="visits" title="Unique visits to this paste">
                    3                </div>

                <div class="expire" title="When this paste gets automatically deleted">
                    Never                </div>
            </div>
        </div>
    </div>

                        <div class="page">
                <div class="content__text -no-padding">
                    <div class="notice -post-view">
                        <b>Not a member of Pastebin yet?</b>
                        <a href="/signup"><b><u>Sign Up</u></b></a>,
                        it unlocks many cool features!                    </div>
                </div>
            </div>
        
    
    <div class="highlighted-code">
        <div class="top-buttons">
            <div class="left">
                <a href="/archive/text" class="btn -small h_800">text</a> 0.15 KB            </div>

            <div class="right">
                                    <a href="/raw/Xu7y819j" class="btn -small">raw</a>
                    <a href="/dl/Xu7y819j" class="btn -small">download</a>
                    <a href="/clone/Xu7y819j" class="btn -small h_800">clone</a>
                    <a href="/embed/Xu7y819j" class="btn -small h_800">embed</a>
                    <a href="/print/Xu7y819j" class="btn -small h_800">print</a>
                
                                    <a href="/report/Xu7y819j" class="btn -small">report</a>
                
                
                            </div>
        </div>
        <div class="source" style=" ">
            <ol class="text"><li class="li1"><div class="de1">h2 {</div></li><li class="li1"><div class="de1">  background-color: black;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">body {</div></li><li class="li1"><div class="de1">  background-color: green;</div></li><li class="li1"><div class="de1">  opacity: 0.3;</div></li><li class="li1"><div class="de1">  color: #ffa500</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">ul {</div></li><li class="li1"><div class="de1">  background-color:DodgerBlue;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li></ol>        </div>
    </div>

            <div class="content__title -no-border">
            RAW Paste Data        </div>

        <textarea class="textarea">h2 {
  background-color: black;
}

body {
  background-color: green;
  opacity: 0.3;
  color: #ffa500
}

ul {
  background-color:DodgerBlue;
}
</textarea>
    
        <div class="special__footer">
    <div id='snhb-pastebin_bottomleader-0'></div>
</div>
</div>
                                </div>

        <div class="sidebar h_1024">
            


                
    <div class="sidebar__title">
        <a href="/archive">Public Pastes</a>
    </div>
    <ul class="sidebar__menu">

                    <li>
                <a href="/ckhiK63P">Untitled</a>
                <div class="details">
                                            jQuery |
                    
                    33 sec ago                </div>
            </li>
                    <li>
                <a href="/87JVyZV3">Untitled</a>
                <div class="details">
                                            JavaScript |
                    
                    2 min ago                </div>
            </li>
                    <li>
                <a href="/B36iHQQD">CheckerBoard Assignment1Part4</a>
                <div class="details">
                                            Java |
                    
                    12 min ago                </div>
            </li>
                    <li>
                <a href="/SRhyLCE0">C++ script</a>
                <div class="details">
                                            C++ |
                    
                    16 min ago                </div>
            </li>
                    <li>
                <a href="/S73F0seR">Avoid Leverage browser caching (Serve Static Assets With an Efficient Cache Policy) httaccess rules</a>
                <div class="details">
                                            Apache Log |
                    
                    20 min ago                </div>
            </li>
                    <li>
                <a href="/Z4Xi0Fze">Untitled</a>
                <div class="details">
                                            JavaScript |
                    
                    23 min ago                </div>
            </li>
                    <li>
                <a href="/sYaRdCj9">6.19</a>
                <div class="details">
                                            C++ |
                    
                    28 min ago                </div>
            </li>
                    <li>
                <a href="/g9cXqgxC">NetherRealms3</a>
                <div class="details">
                                            Java |
                    
                    31 min ago                </div>
            </li>
        
    </ul>
            


                        <div class="special__sidebar">
    <div id='snhb-pastebin_sidebar-0'></div>
</div>        </div>
    </div>
</div>


    
<div class="top-footer">
    <a class="icon-link -size-24-24 -chrome" href="/tools#chrome" title="Google Chrome Extension"></a>
    <a class="icon-link -size-24-24 -firefox" href="/tools#firefox" title="Firefox Extension"></a>
    <a class="icon-link -size-24-24 -iphone" href="/tools#iphone" title="iPhone/iPad Application"></a>
    <a class="icon-link -size-24-24 -windows" href="/tools#windows" title="Windows Desktop Application"></a>
    <a class="icon-link -size-24-24 -android" href="/tools#android" title="Android Application"></a>
    <a class="icon-link -size-24-24 -macos" href="/tools#macos" title="MacOS X Widget"></a>
    <a class="icon-link -size-24-24 -opera" href="/tools#opera" title="Opera Extension"></a>
    <a class="icon-link -size-24-24 -unix" href="/tools#pastebincl" title="Linux Application"></a>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer__container">

            <div class="footer__left">
                <a href="/">create new paste</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                                <a href="/languages">syntax languages</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/archive">archive</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/faq">faq</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/tools">tools</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/night_mode">night mode</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_api">api</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_scraping_api">scraping api</a>
                <br>
                <a href="/doc_privacy_statement">privacy statement</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_cookies_policy">cookies policy</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_terms_of_service">terms of service</a><sup style="color:#999">updated</sup> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_security_disclosure">security disclosure</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/dmca">dmca</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/report-abuse">report abuse</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/contact">contact</a>

                <br>

                                <a id="ccpa_example" style="cursor: pointer; line-height: 72px;display: none;">Do not share my Personal Information</a>
<script>
       __uspapi('setUSPLink', 1, function() {}, "ccpa_example");
</script>
                <br>

                
<span class="footer__bottom h_800">
    By using Pastebin.com you agree to our <a href="/doc_cookies_policy">cookies policy</a> to enhance your experience.
    <br>
    Site design &amp; logo &copy; 2020 Pastebin</span>
            </div>

            <div class="footer__right h_1024">
                                    <a class="icon-link -size-40-40 -facebook-circle" href="https://facebook.com/pastebin" rel="nofollow" title="Like us on Facebook" target="_blank"></a>
                    <a class="icon-link -size-40-40 -twitter-circle" href="https://twitter.com/pastebin" rel="nofollow" title="Follow us on Twitter" target="_blank"></a>
                            </div>

        </div>
    </div>
</footer>
    


    
<div class="popup-container">

                <div class="popup-box -cookies" data-name="l2c_1">
            We use cookies for various purposes including analytics. By continuing to use Pastebin, you agree to our use of cookies as described in the <a href="/doc_cookies_policy">Cookies Policy</a>.            &nbsp;<span class="cookie-button js-close-cookies">OK, I Understand</span>
        </div>
    
                <div class="popup-box -pro" data-name="l2c_2_pg">
            <div class="pro-promo-img">
                <a href="/signup">
                    <img src="/themes/pastebin/img/hello.png" alt=""/>
                </a>
            </div>
            <div class="pro-promo-text">
                Not a member of Pastebin yet?<br/>
                <a href="/signup"><b>Sign Up</b></a>, it unlocks many cool features!            </div>
            <div class="close js-close-pro-guest" title="Close Me">&nbsp;</div>
        </div>
    
        
        
</div>
    

<span class="cd-top"></span>

<script src="/assets/ae9b8d97/jquery.min.js"></script>
<script src="/assets/1745bc3b/yii.js"></script>
<script>
    const POST_EXPIRATION_NEVER = 'N';
    const POST_EXPIRATION_BURN = 'B';
    const POST_STATUS_PUBLIC = '0';
    const POST_STATUS_UNLISTED = '1';
</script>
<script src="/themes/pastebin/js/vendors.bundle.js?fd97d1a14d3e5eb8409d"></script>
<script src="/themes/pastebin/js/app.bundle.js?fd97d1a14d3e5eb8409d"></script>

</body>
</html>
