@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.flex-right {
	display: none;
}

a:active {
    line-height: 20px;
    color: #c02050;
    transition: 300ms color ease;
}

h2 {
    font-weight: 400;
    font-size: 22px;
    margin-left: 48px;
}

hr {
    border-color: #f8f8f8;
    border-width: 1px;
    border: none;
    border-top: 1px solid;
}

nav {
    position: fixed;
    margin: 24px 48px;
    left: 0;
    line-height: 32px;
}
nav a:before {
    content: "nav::";
    color: #ffffff80;
}
nav a:after {
    content: "()";
    color: #ffffff80;
}
nav a:hover {
    transition: 300ms color ease;
    color: #f0f0f8;
}
nav a {
    color: #f02080;
    text-decoration: none;
    transition: 300ms color ease;
}

h1 a::after {
    content: "Exapsy";
    font-size: 12px;
    padding: 12px;
    color: #b20282;
    font-weight: 600;
}

h1 a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    width: 100%;
    background-image: radial-gradient(#212121, transparent, transparent);
    padding: 40px 10px;
    margin: 0 0 20px 0;
}

body {
    width: 60%;
    margin: auto;
    font-size: 18px;
    background-image: linear-gradient(160deg, #101010, #212121);
    font-family: 'Roboto', sans-serif;
}